@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #F4F7FF;
  align-items: center;     /* Center horizontally */
  min-height: 100vh;    
}

.imageContainer {
  width: 680px;
  height: 425px;
  background-image: url('/public/background.png');
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  padding: 33px 39px 0px 32px;
  color: #ffff;
  align-items: center;
}

.middleContainer {
  width: 600px;
  height: 799px;
  background-color: #ffff;
  margin-top: -33.5vh; 
  border-radius: 20px;
  margin-bottom: 33px;
}

.middleTextWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
}

.middleH1 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Cabin", sans-serif;
}

.middleP1 {
  margin-top: 26px;
  font-family: "Cabin", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #9CA0A8;
}

.middleRectangle { 
  margin-top: 60px;
}

.middleP2 {
  margin-top: 30px;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #9CA0A8;
}

.middleButton {
  margin-top: 35px;
  padding: 14px 35px;
  border-radius: 70px;
  border: none;
  background-color: #5F51FF;
  color: white;
  
}


.middleButton p {
  font-family: "Cabin", sans-serif;
  font-size: 16px; 
}




.footerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 287px;
  width: 572px;
}

.footerHr {
  width: 100%;
  margin-top: 12px;
  opacity: 0.4;
  margin-bottom: 30px;
}


.footerText {
  font-family: "Cabin", sans-serif;
  font-size: 16px; 
  font-weight: 500;
  color: #9CA0A8;
}


.footerP1 {
  margin-bottom: 30px;
}


.footerP2 {
  margin-bottom: 30px;
}

.footerP3 {
  margin-bottom: 30px;
  text-decoration: underline;
}
